alembic
#Alembic: Инструмент для управления и миграции схемы базы данных. Используется для внесения изменений в структуру базы данных (добавление, удаление, изменение таблиц и столбцов).
sqlalchemy
#SQLAlchemy: Основная библиотека для работы с базами данных в Python, обеспечивающая ORM (объектно-реляционное отображение) и средства для выполнения SQL-запросов.
pydantic
#Pydantic: Библиотека для валидации данных и управления типами данных в Python. Pydantic позволяет удобно определять схемы данных и проверять их на соответствие типам. В будущем мы будем использовать эту библиотеку для трансформации данных из SQLAlchemy в привычные нам объекты, такие как словари.
pydantic-settings
#Pydantic-settings: Дополнение к Pydantic, позволяющее легко управлять конфигурационными настройками приложений, используя Pydantic для валидации и типизации. Будем использовать для работы с переменными окружения, которые позволят нам подключаться к базе данных PostgreSQL.
asyncpg
#Asyncpg: Асинхронный движок для работы с PostgreSQL через SQLAlchemy.